@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
}

body {
  background-color: #fff;
  height: 100vh;
}

.d-flex {
  display: flex;
}

section {
  margin: 12rem 0 0 0;
}

.btn-holder {
  gap: 1rem;
}

.get-btn {
  border: none;
  border-radius: 0.75rem;
  background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  color: #fff;
  font-family: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.get-btn:hover {
  transform: translateY(3px);
}

.learn-btn {
  border-radius: 0.75rem;
  border: none;
  border: 2px solid var(--on-white-grey-100, #7780a1);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  font-family: 600;
  font-size: 1rem;
  color: #7780a1;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.learn-btn:hover {
  transform: translateY(3px);
}

footer {
  max-width: 1440px;
  margin: 10rem auto 0 auto;
  padding-bottom: 50px;
}

header nav {
  border-radius: 10px;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
header nav .logo-holder {
  display: inline-flex;
  gap: 1rem;
  transition: all 0.4s ease-in;
}
header nav .logo-holder:hover {
  transform: scale(1.05);
  cursor: pointer;
}
header nav a {
  text-decoration: none;
}
header nav ul {
  list-style-type: none;
  gap: 4rem;
  color: #7780a1;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0125rem;
  position: relative;
}
header nav ul a:after {
  content: "";
  display: none;
  background-color: #837e7e;
  height: 3px;
  width: 100%;
  position: absolute;
}
header nav ul li {
  transition: all 0.4s linear;
}
header nav ul li:hover {
  transform: translateY(5px);
}
header nav ul li:hover a::after {
  display: block;
}
header nav .button-holder {
  gap: 1rem;
}
header nav .button-holder .contact-btn {
  border: 2px solid #7780a1;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s linear;
}
header nav .button-holder .contact-btn:hover {
  transform: translateY(5px);
  cursor: pointer;
}
header nav .button-holder .my-account-btn {
  border-radius: 0.75rem;
  background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s linear;
}
header nav .button-holder .my-account-btn a {
  color: white;
}
header nav .button-holder .my-account-btn:hover {
  transform: translateY(5px);
  cursor: pointer;
}
header .container {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  gap: 1rem;
}
header .container .header-title {
  flex-direction: row;
  justify-content: center;
}
header .container .header-title h1 {
  line-height: 90px;
  letter-spacing: 1px;
  font-size: 7.5rem;
  font-weight: 600;
}
header .container span {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #7780a1;
  margin-bottom: 50px;
}
header .container .left-margin {
  margin-left: 120px;
}
header .container .margin-right {
  margin-right: 80px;
}
header .container p {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
  color: #7780a1;
  margin-top: 30px;
}
header .container .search-holder {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
  width: 40rem;
  height: 4rem;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
header .container .search-holder input {
  opacity: 0.6;
  color: #bbc0d0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
header .container .search-holder #select {
  cursor: pointer;
  position: relative;
}
header .container .search-holder #select ul {
  position: absolute;
  top: 150%;
  background-color: #4745d0;
  border-radius: 10px;
  width: 130px;
  letter-spacing: 1px;
  color: #bbc0d0;
  font-size: 1rem;
  opacity: 0.8;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
header .container .search-holder #select ul li {
  list-style-type: none;
  padding: 5px;
  text-align: left;
}
header .container .search-holder #select .open {
  max-height: 180px;
}
header .container .search-holder .text-holder {
  flex-direction: row;
  gap: 2rem;
}
header .container .search-holder .text-holder p {
  margin-top: 0;
  line-height: 22px;
  opacity: 0.5;
  color: #bbc0d0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
header .container .search-holder .text-holder i {
  font-size: 1.5rem;
  color: #bbc0d0;
}
header .container .search-holder svg {
  cursor: pointer;
}

.sponsored {
  width: 30%;
  margin: 0 auto 0 auto;
}
.sponsored:hover img {
  filter: blur(15px);
  transform: scale(0.9);
  opacity: 0.5;
  cursor: pointer;
}
.sponsored .icon-holder {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 70px;
}
.sponsored img {
  transition: all 0.5s ease-in-out;
}
.sponsored img:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

.latest-auction {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.latest-auction h1 {
  font-size: 2.25rem;
}
.latest-auction .courasel-holder {
  gap: 2rem;
}
.latest-auction .courasel-holder .image-holder {
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.latest-auction .courasel-holder .image-holder img {
  width: 25rem;
  height: 32.5rem;
  flex-shrink: 0;
  border-radius: 10px;
}
.latest-auction .courasel-holder .image-holder .text-holder h3 {
  font-size: 1rem;
}
.latest-auction .courasel-holder .image-holder .text-holder p {
  border-radius: 0.25rem;
  background: rgba(42, 39, 201, 0.1);
  padding: 0.5rem 0.875rem;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  color: #2a27c9;
  gap: 0.625rem;
  text-align: center;
}
.latest-auction .courasel-holder .image-holder .icon-holder {
  display: inline-flex;
  gap: 0.3rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
}
.latest-auction .courasel-holder .image-holder .people-holder {
  justify-content: space-between;
  align-items: center;
}
.latest-auction .courasel-holder .image-holder .people-holder .img-text-holder {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.latest-auction .courasel-holder .image-holder .people-holder .img-text-holder p {
  color: #7780a1;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 10px;
}
.latest-auction .courasel-holder .image-holder .people-holder button {
  border: none;
  background-color: transparent;
}
.latest-auction .courasel-holder .image-holder .people-holder i {
  font-size: 1.5rem;
  color: #7780a1;
  cursor: pointer;
  transition: all 0.4s linear;
}
.latest-auction .courasel-holder .image-holder .people-holder .red-heart i {
  color: red;
}

.mid-section {
  justify-content: space-around;
  padding: 20px;
}
.mid-section .text-holder {
  width: 35%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.mid-section .text-holder span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
}
.mid-section .text-holder h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}
.mid-section .text-holder p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #7780a1;
}
.mid-section .bucket-img {
  position: absolute;
  right: 485px;
  margin-top: 50px;
  z-index: 1;
}
.mid-section .triangle-img {
  position: relative;
  top: -140px;
}

.smile-section {
  justify-content: space-around;
  padding: 40px;
}
.smile-section .smile-image-holder .smile-img {
  position: absolute;
  z-index: 1;
  left: 250px;
  margin-top: 180px;
}
.smile-section .smile-image-holder .cloud-img {
  position: relative;
  top: -20px;
  left: 250px;
}
.smile-section .smile-text-holder {
  width: 35%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.smile-section .smile-text-holder span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
}
.smile-section .smile-text-holder h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}
.smile-section .smile-text-holder p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #7780a1;
}
.smile-section .smile-text-holder .icon-holder {
  gap: 1.5rem;
}
.smile-section .smile-text-holder .icon-holder .text-icon h4 {
  margin-top: 10px;
}

.live-auction {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.live-auction .live-text-btn {
  gap: 1rem;
  flex-direction: column;
}
.live-auction .live-text-btn span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
  letter-spacing: 2px;
}
.live-auction .live-text-btn h4 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.live-auction .live-text-btn .selection-holder {
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}
.live-auction .live-text-btn .selection-holder button {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid #bbc0d0;
  padding: 0.5rem;
  font-size: 1rem;
  color: #7780a1;
  font-weight: 600;
  transition: all 0.2s linear;
  cursor: pointer;
}
.live-auction .live-text-btn .selection-holder button:hover {
  transform: translateY(-4px);
  background-color: rgb(73, 72, 72);
  color: #fff;
}
.live-auction .card-holder {
  justify-content: center;
  margin: 35px auto 0 auto;
  gap: 10px;
  width: 70%;
}
.live-auction .card-holder .card {
  flex-direction: column;
  gap: 1rem;
}
.live-auction .card-holder .card img {
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.live-auction .card-holder .card h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: left;
}
.live-auction .card-holder .card .card-icon {
  display: inline-flex;
  justify-content: space-between;
}
.live-auction .card-holder .card .card-icon p {
  background-color: rgba(42, 39, 201, 0.1);
  padding: 0.375rem 0.625rem;
  color: #2a27c9;
  font-size: 1rem;
  font-weight: 600;
}
.live-auction .card-holder .card .card-icon i {
  font-size: 1.5rem;
  line-height: 30px;
  color: #bbc0d0;
}
.live-auction .card-holder .card .heart-holder {
  display: inline-flex;
  justify-content: space-between;
}
.live-auction .card-holder .card .heart-holder p {
  font-family: "Inter";
  font-size: 1rem;
  color: #7780a1;
  font-weight: 400;
}
.live-auction .card-holder .card .heart-holder button {
  border: none;
  background-color: transparent;
}
.live-auction .card-holder .card .heart-holder i {
  font-size: 1.5rem;
  color: #7780a1;
  cursor: pointer;
  transition: all 0.4s linear;
}
.live-auction .card-holder .card .red-heart i {
  color: red;
}
.live-auction .button {
  margin: 40px auto 0 auto;
  border: none;
  background: transparent;
  width: 10%;
  height: 5%;
  display: inline-block;
  padding: 1rem;
  border-radius: 10px;
  color: #060714;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  cursor: grab;
}
.live-auction .button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10px;
  z-index: -2;
}
.live-auction .button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.live-auction .button:hover {
  color: #fff;
}
.live-auction .button:hover:before {
  width: 100%;
}

.icons-section {
  max-width: 1440px;
  margin: 10rem auto 0 auto;
}
.icons-section hr {
  background-color: #bbc0d0;
  height: 1px;
}
.icons-section .card-holder {
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 80px;
  flex-wrap: wrap;
}
.icons-section .card-holder .icon-card h1 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.icons-section .card-holder .icon-card p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #7780a1;
}

.folder {
  max-width: 1400px;
  height: 560px;
  border-radius: 0px, 20px, 20px, 20px;
  background-color: #f2f3f6;
  margin: 10rem auto 0 auto;
}
.folder img {
  margin-top: -20px;
}
.folder .folder-holder {
  justify-content: center;
  height: 100%;
}
.folder .folder-holder .folder-text {
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  flex-direction: column;
  gap: 2rem;
}
.folder .folder-holder .folder-text span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
}
.folder .folder-holder .folder-text h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 100%;
}
.folder .folder-holder .folder-text p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #7780a1;
}
.folder .folder-holder .folder-items {
  width: 40%;
}

.scrolling {
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}
.scrolling .scroll-card {
  gap: 0.5rem;
  text-align: center;
  flex-direction: column;
}
.scrolling .scroll-card span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  color: #7780a1;
}

footer .items-holder {
  justify-content: center;
  flex-wrap: wrap;
}
footer .items-holder .box {
  border: 1px solid #bbc0d0;
  width: 465px;
  height: 397px;
}
footer .items-holder .first-box {
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
}
footer .items-holder .first-box .logo {
  display: inline-flex;
  padding: 1rem 0 0 2rem;
  margin-top: 2rem;
  gap: 1rem;
}
footer .items-holder .first-box .text {
  gap: 1.5rem;
  margin-bottom: 2rem;
  padding: 1rem 0 0 2rem;
}
footer .items-holder .first-box .text p {
  color: #bbc0d0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
}
footer .items-holder .second-box {
  flex-direction: column;
  justify-content: space-between;
}
footer .items-holder .second-box .text {
  flex-direction: column;
  padding: 1.5rem 0 0 2rem;
  gap: 1rem;
}
footer .items-holder .second-box .text a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
footer .items-holder .second-box .btn-holder {
  padding: 0 0 0 2rem;
}
footer .items-holder .second-box .icons {
  padding: 0 0 1.5rem 2rem;
  display: inline-flex;
  gap: 1rem;
}
footer .items-holder .second-box .icons a {
  text-decoration: none;
}
footer .items-holder .second-box .icons a i {
  font-size: 1.5rem;
  color: #7780a1;
}
footer .items-holder .third-box {
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
}
footer .items-holder .third-box p {
  padding: 3rem 3rem 0 3rem;
  color: #bbc0d0;
}
footer .items-holder .third-box .newsletter {
  box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
  padding: 1rem;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto 3rem auto;
  display: inline-flex;
  justify-content: space-between;
}
footer .items-holder .third-box .newsletter input {
  outline: none;
  border: none;
}
footer .items-holder .third-box .newsletter input::placeholder {
  color: #bbc0d0;
  font-size: 1rem;
  letter-spacing: 1px;
}
footer .items-holder .third-box .newsletter a {
  text-decoration: none;
  color: #2a27c9;
  font-size: 1rem;
  font-weight: 600;
}

.triple {
  margin: 10rem auto 2rem auto;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap !important;
}
.triple .hottest-sale-box {
  max-width: 440px;
  max-height: 800px;
  border: 1px solid #bbc0d0;
  border-radius: 10px;
  flex-direction: column;
  gap: 2rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.triple .hottest-sale-box h1 {
  font-size: 2rem;
  font-weight: 600;
}
.triple .hottest-sale-box .box-holder {
  gap: 1rem;
}
.triple .hottest-sale-box .box-holder .normal-box {
  width: 215px;
  height: 500px;
  flex-direction: column;
  gap: 1rem;
}
.triple .hottest-sale-box .box-holder .normal-box img {
  border-radius: 10px;
}
.triple .hottest-sale-box .box-holder .normal-box h5 {
  font-size: 1rem;
  font-weight: 600;
}
.triple .hottest-sale-box .box-holder .normal-box .icon-holder {
  justify-content: space-between;
}
.triple .hottest-sale-box .box-holder .normal-box .icon-holder i {
  font-size: 1.5rem;
  color: #bbc0d0;
  line-height: 40px;
}
.triple .hottest-sale-box .box-holder .normal-box .icon-holder p {
  border-radius: 0.25rem;
  background: rgba(42, 39, 201, 0.1);
  padding: 0.475rem 0.625rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #2a27c9;
  gap: 0.625rem;
  text-align: center;
}
.triple .hottest-sale-box .box-holder .normal-box hr {
  background-color: #bbc0d0;
  height: 5px;
}
.triple .hottest-sale-box .box-holder .normal-box .heart-holder {
  justify-content: space-between;
}
.triple .hottest-sale-box .box-holder .normal-box .heart-holder span {
  color: #bbc0d0;
  font-size: 0.9rem;
  font-weight: 400;
}
.triple .hottest-sale-box .box-holder .normal-box .heart-holder button {
  border: none;
  background-color: transparent;
}
.triple .hottest-sale-box .box-holder .normal-box .heart-holder i {
  font-size: 1.5rem;
  color: #7780a1;
  cursor: pointer;
  transition: all 0.4s linear;
}
.triple .hottest-sale-box .box-holder .normal-box .heart-holder .red-heart i {
  color: red;
}
.triple .hottest-sale-box .show-more {
  width: 90%;
  margin-top: 2rem;
}
.triple .hottest-sale-box #second-box {
  opacity: 20%;
}
.triple .get-started-box {
  max-width: 440px;
  max-height: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #1c1d29;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.triple .get-started-box .text-holder {
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}
.triple .get-started-box .text-holder h1 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.triple .get-started-box .text-holder span {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  color: #7780a1;
}
.triple .get-started-box .get-started {
  width: 90%;
  margin-bottom: 2rem;
}