@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-family: "Sora", sans-serif;
}

body {
  background-color: #fff;
  height: 100vh;
}

.d-flex {
  display: flex;
}

section {
  margin: 15rem 0 2rem 0;
}

.btn-holder {
  gap: 1rem;
}

.get-btn {
  border: none;
  border-radius: 0.75rem;
  background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  color: #fff;
  font-family: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.get-btn:hover {
  transform: translateY(3px);
}

.learn-btn {
  border-radius: 0.75rem;
  border: none;
  border: 2px solid var(--on-white-grey-100, #7780a1);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  font-family: 600;
  font-size: 1rem;
  color: #7780a1;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.learn-btn:hover {
  transform: translateY(3px);
}

header nav {
  border-radius: 10px;
  justify-content: space-between;
  padding: 2rem;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
}
header nav .logo-holder {
  display: inline-flex;
  gap: 1rem;
  transition: all 0.4s ease-in;
}
header nav .logo-holder:hover {
  transform: scale(1.05);
  cursor: pointer;
}
header nav a {
  text-decoration: none;
}
header nav ul {
  list-style-type: none;
  gap: 4rem;
  color: #7780a1;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0125rem;
  position: relative;
}
header nav ul a:after {
  content: "";
  display: none;
  background-color: #837e7e;
  height: 3px;
  width: 100%;
  position: absolute;
}
header nav ul li {
  transition: all 0.4s linear;
}
header nav ul li:hover {
  transform: translateY(5px);
}
header nav ul li:hover a::after {
  display: block;
}
header nav .button-holder {
  gap: 1rem;
}
header nav .button-holder .contact-btn {
  border: 2px solid #7780a1;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  background-color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s linear;
}
header nav .button-holder .contact-btn:hover {
  transform: translateY(5px);
  cursor: pointer;
}
header nav .button-holder .my-account-btn {
  border-radius: 0.75rem;
  background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset, -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.4s linear;
}
header nav .button-holder .my-account-btn a {
  color: white;
}
header nav .button-holder .my-account-btn:hover {
  transform: translateY(5px);
  cursor: pointer;
}
header .container {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80vh;
  gap: 1rem;
}
header .container .header-title {
  flex-direction: row;
  justify-content: center;
}
header .container .header-title h1 {
  line-height: 90px;
  letter-spacing: 1px;
  font-size: 7.5rem;
  font-weight: 600;
}
header .container span {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #7780a1;
  margin-bottom: 50px;
}
header .container .left-margin {
  margin-left: 120px;
}
header .container .margin-right {
  margin-right: 80px;
}
header .container p {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
  color: #7780a1;
  margin-top: 30px;
}
header .container .search-holder {
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
  width: 40rem;
  height: 4rem;
  margin: 0 auto 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  text-align: center;
  margin-top: 1rem;
}
header .container .search-holder input {
  opacity: 0.6;
  color: #bbc0d0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
header .container .search-holder #select {
  cursor: pointer;
  position: relative;
}
header .container .search-holder #select ul {
  position: absolute;
  top: 150%;
  background-color: #4745d0;
  border-radius: 10px;
  width: 130px;
  letter-spacing: 1px;
  color: #bbc0d0;
  font-size: 1rem;
  opacity: 0.8;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s;
}
header .container .search-holder #select ul li {
  list-style-type: none;
  padding: 5px;
  text-align: left;
}
header .container .search-holder #select .open {
  max-height: 180px;
}
header .container .search-holder .text-holder {
  flex-direction: row;
  gap: 2rem;
}
header .container .search-holder .text-holder p {
  margin-top: 0;
  line-height: 22px;
  opacity: 0.5;
  color: #bbc0d0;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  border: none;
  outline: none;
}
header .container .search-holder .text-holder i {
  font-size: 1.5rem;
  color: #bbc0d0;
}
header .container .search-holder svg {
  cursor: pointer;
}

.sponsored {
  width: 30%;
  margin: 0 auto 0 auto;
}
.sponsored:hover img {
  filter: blur(15px);
  transform: scale(0.9);
  opacity: 0.5;
  cursor: pointer;
}
.sponsored .icon-holder {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 70px;
}
.sponsored img {
  transition: all 0.5s ease-in-out;
}
.sponsored img:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

.latest-auction {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.latest-auction h1 {
  font-size: 2.25rem;
}
.latest-auction .courasel-holder {
  gap: 2rem;
}
.latest-auction .courasel-holder .image-holder {
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}
.latest-auction .courasel-holder .image-holder img {
  width: 25rem;
  height: 32.5rem;
  flex-shrink: 0;
  border-radius: 10px;
}
.latest-auction .courasel-holder .image-holder .text-holder h3 {
  font-size: 1rem;
}
.latest-auction .courasel-holder .image-holder .text-holder p {
  border-radius: 0.25rem;
  background: rgba(42, 39, 201, 0.1);
  padding: 0.5rem 0.875rem;
  align-items: center;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  color: #2a27c9;
  gap: 0.625rem;
  text-align: center;
}
.latest-auction .courasel-holder .image-holder .icon-holder {
  display: inline-flex;
  gap: 0.3rem;
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
}
.latest-auction .courasel-holder .image-holder .people-holder {
  justify-content: space-between;
  align-items: center;
}
.latest-auction .courasel-holder .image-holder .people-holder .img-text-holder {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}
.latest-auction .courasel-holder .image-holder .people-holder .img-text-holder p {
  color: #7780a1;
  font-family: "Inter";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 10px;
}
.latest-auction .courasel-holder .image-holder .people-holder button {
  border: none;
  background-color: transparent;
}
.latest-auction .courasel-holder .image-holder .people-holder i {
  font-size: 1.5rem;
  color: #7780a1;
  cursor: pointer;
  transition: all 0.4s linear;
}
.latest-auction .courasel-holder .image-holder .red-heart i {
  color: red;
}

.mid-section {
  justify-content: space-around;
  padding: 20px;
}
.mid-section .text-holder {
  width: 35%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.mid-section .text-holder span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
}
.mid-section .text-holder h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}
.mid-section .text-holder p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #7780a1;
}
.mid-section .bucket-img {
  position: absolute;
  right: 485px;
  margin-top: 50px;
  z-index: 1;
}
.mid-section .triangle-img {
  position: relative;
  top: -140px;
}

.smile-section {
  justify-content: space-around;
  padding: 40px;
}
.smile-section .smile-image-holder .smile-img {
  position: absolute;
  z-index: 1;
  left: 250px;
  margin-top: 180px;
}
.smile-section .smile-image-holder .cloud-img {
  position: relative;
  top: -20px;
  left: 250px;
}
.smile-section .smile-text-holder {
  width: 35%;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.smile-section .smile-text-holder span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
}
.smile-section .smile-text-holder h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}
.smile-section .smile-text-holder p {
  font-family: "Inter";
  font-size: 1rem;
  font-weight: 400;
  color: #7780a1;
}
.smile-section .smile-text-holder .icon-holder {
  gap: 1.5rem;
}
.smile-section .smile-text-holder .icon-holder .text-icon h4 {
  margin-top: 10px;
}

.live-auction {
  justify-content: center;
  text-align: center;
}
.live-auction .live-text-btn {
  gap: 1rem;
  flex-direction: column;
}
.live-auction .live-text-btn span {
  font-family: "Inter";
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: #bbc0d0;
  letter-spacing: 2px;
}
.live-auction .live-text-btn h4 {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}