* {
  margin: 0;
  padding: 0;

  font-family: "Sora", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100;400;500;600;700&display=swap");

body {
  background-color: $background-rest-white;
  height: 100vh;
}
.d-flex {
  display: flex;
}
section {
  margin: 12rem 0 0 0;
}

.btn-holder {
  gap: 1rem;
}
.get-btn {
  border: none;
  border-radius: 0.75rem;
  background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
    -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  color: $background-rest-white;
  font-family: $weight-600;
  font-size: $sm-font;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(3px);
  }
}
.learn-btn {
  border-radius: 0.75rem;
  border: none;
  border: 2px solid var(--on-white-grey-100, #7780a1);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
    -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
  padding: 1rem 1.5rem;
  font-family: $weight-600;
  font-size: $sm-font;
  color: $gray-color;
  background-color: $background-rest-white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(3px);
  }
}
footer {
  max-width: 1440px;
  margin: 10rem auto 0 auto;
  padding-bottom: 50px;
}
