// Colors
$black: #060714;
$gray-color: #7780a1;
$blue-purple: #2a27c9;
$light-gray: #bbc0d0;
$white-color: #fff;
// Background color
$purple-linear-gradient: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
$background-rest-white: #fff;
// Font-size
$md-font: 1.5rem;
$sm-font: 1rem;
$xxl-font: 7.5rem;
$lg-font: 2rem;
$md-sm-font: 1.3rem;
$xl-font: 4rem;
$lg-xl-font: 3rem;
// Font-weight
$weight-600: 600;
// Base-padding
$base-padding: 1rem 1.5rem;
