// Colors
$black: #060714;
$gray-color: #7780a1;
$blue-purple: #2a27c9;
$light-gray: #bbc0d0;
// Background color
$purple-linear-gradient: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
$background-rest-white: #fff;
// Font-size
