.latest-auction {
  justify-content: center;
  flex-direction: column;

  align-items: center;
  gap: 3rem;
  h1 {
    font-size: 2.25rem;
  }
  .courasel-holder {
    gap: 2rem;
    .image-holder {
      justify-content: space-around;
      padding: 10px;
      flex-direction: column;
      gap: 10px;
      img {
        width: 25rem;
        height: 32.5rem;
        flex-shrink: 0;
        border-radius: 10px;
      }
      .text-holder {
        h3 {
          font-size: 1rem;
        }
        p {
          border-radius: 0.25rem;
          background: rgba(42, 39, 201, 0.1);
          padding: 0.5rem 0.875rem;
          align-items: center;
          display: inline-flex;
          font-size: $sm-font;
          font-weight: $weight-600;
          color: $blue-purple;
          gap: 0.625rem;
          text-align: center;
        }
      }
      .icon-holder {
        display: inline-flex;
        gap: 0.3rem;
        font-family: "Inter";
        font-size: $sm-font;
        font-weight: 400;
      }
      .people-holder {
        justify-content: space-between;
        align-items: center;
        .img-text-holder {
          display: inline-flex;
          align-items: center;
          gap: 1rem;
          p {
            color: $gray-color;
            font-family: "Inter";
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 10px;
          }
        }
        button {
          border: none;
          background-color: transparent;
        }
        i {
          font-size: $md-font;
          color: $gray-color;
          cursor: pointer;
          transition: all 0.4s linear;
        }
      }
      .red-heart {
        i {
          color: red;
        }
      }
    }
  }
}
