header {
  nav {
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2.4375rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .logo-holder {
      display: inline-flex;
      gap: 1rem;
      transition: all 0.4s ease-in;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    a {
      text-decoration: none;
    }
    ul {
      list-style-type: none;
      gap: 4rem;
      color: $gray-color;
      font-size: $sm-font;
      font-weight: $weight-600;
      line-height: normal;
      letter-spacing: 0.0125rem;
      position: relative;

      a {
        &:after {
          content: "";
          display: none;
          background-color: #837e7e;
          height: 3px;
          width: 100%;
          position: absolute;
        }
      }
      li {
        transition: all 0.4s linear;
        &:hover {
          transform: translateY(5px);
          a {
            &::after {
              display: block;
            }
          }
        }
      }
    }
    .button-holder {
      gap: 1rem;

      .contact-btn {
        border: 2px solid $gray-color;
        box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
          -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;
        background-color: $background-rest-white;
        padding: 1rem 1.5rem;
        border-radius: 0.75rem;
        font-size: $sm-font;
        font-weight: $weight-600;
        transition: all 0.4s linear;
        &:hover {
          transform: translateY(5px);
          cursor: pointer;
        }
      }
      .my-account-btn {
        border-radius: 0.75rem;
        background: linear-gradient(104deg, #4745d0 0%, #2a27c9 60.23%);
        box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.1) inset,
          -4px -4px 4px 0px rgba(0, 0, 0, 0.1) inset;

        padding: 1rem 1.5rem;
        border-radius: 0.75rem;
        font-size: $sm-font;
        font-weight: $weight-600;
        transition: all 0.4s linear;
        a {
          color: white;
        }
        &:hover {
          transform: translateY(5px);
          cursor: pointer;
        }
      }
    }
  }
  .container {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    gap: 1rem;

    .header-title {
      flex-direction: row;
      justify-content: center;
      h1 {
        line-height: 90px;
        letter-spacing: 1px;
        font-size: $xxl-font;
        font-weight: $weight-600;
      }
    }
    span {
      font-family: Inter;
      font-size: $sm-font;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: $gray-color;
      margin-bottom: 50px;
    }
    .left-margin {
      margin-left: 120px;
    }
    .margin-right {
      margin-right: 80px;
    }
    p {
      font-family: Inter;
      font-size: $md-font;
      font-weight: 400;
      color: $gray-color;
      margin-top: 30px;
    }
    .search-holder {
      border-radius: 1rem;
      background: $background-rest-white;
      box-shadow: 0px 25px 75px 0px rgba(6, 7, 20, 0.1);
      width: 40rem;
      height: 4rem;
      margin: 0 auto 0 auto;
      justify-content: space-between;
      align-items: center;
      padding: $base-padding;

      li {
        list-style-type: none;
      }
    }
  }
}
