.live-auction {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  .live-text-btn {
    gap: 1rem;
    flex-direction: column;
    span {
      font-family: "Inter";
      text-transform: uppercase;
      font-size: $sm-font;
      font-weight: 500;
      color: $light-gray;
      letter-spacing: 2px;
    }
    h4 {
      font-size: 2.25rem;
      font-weight: $weight-600;
      letter-spacing: 1px;
    }
    .selection-holder {
      display: inline-flex;
      justify-content: center;
      gap: 1rem;
      button {
        border-radius: 0.5rem;
        border: 2px solid $light-gray;
        padding: 0.5rem;
        font-size: $sm-font;
        color: $gray-color;
        font-weight: $weight-600;
        transition: all 0.2s linear;
        cursor: pointer;
        &:hover {
          transform: translateY(-4px);
          background-color: rgb(73, 72, 72);
          color: $background-rest-white;
        }
      }
    }
  }
  .card-holder {
    justify-content: center;
    margin: 35px auto 0 auto;
    gap: 10px;
    width: 70%;
  }
}
