.loader-container {
  z-index: 1000;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d7b8ff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.2s ease-in;

  .ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
      border-radius: 50%;
    }
  }
  span {
    color: $blue-purple;
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 200px;
    letter-spacing: 1px;
    animation: text 3s ease-in-out infinite;
  }
}
@keyframes text {
  50% {
    color: #d7b8ff;
  }
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #7f56f0;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #260386;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #11013d;
  }
}
.fade-out {
  top: 120%;
}
