.mid-section {
  justify-content: space-around;
  padding: 20px;
  .text-holder {
    width: 35%;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    span {
      font-family: "Inter";
      text-transform: uppercase;
      font-size: $sm-font;
      font-weight: 500;
      color: $light-gray;
    }
    h1 {
      font-size: $xl-font;
      font-weight: $weight-600;
      line-height: 100%;
    }
    p {
      font-family: "Inter";
      font-size: $sm-font;
      font-weight: 400;
      color: $gray-color;
    }
  }
  .bucket-img {
    position: absolute;
    right: 485px;
    margin-top: 50px;
    z-index: 1;
  }
  .triangle-img {
    position: relative;
    top: -140px;
  }
  @media only screen and (max-width: 576px) {
    flex-direction: column;
    text-align: center;

    gap: 3rem;
    .text-holder {
      width: 100%;
      align-items: center;
      h1 {
        font-size: $lg-xl-font;
      }
    }
    .img-holder {
      display: flex;
      flex-direction: column;
    }
    .bucket-img {
      position: relative;
      right: inherit;
      margin-top: 0;
    }
    .triangle-img {
      top: inherit;
      top: -80px;
      z-index: 1;
    }
  }
}
