.smile-section {
  justify-content: space-around;
  padding: 40px;
  .smile-image-holder {
    .smile-img {
      position: absolute;
      z-index: 1;
      left: 250px;
      margin-top: 180px;
    }
    .cloud-img {
      position: relative;
      top: -20px;
      left: 250px;
    }
  }
  .smile-text-holder {
    width: 35%;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    span {
      font-family: "Inter";
      text-transform: uppercase;
      font-size: $sm-font;
      font-weight: 500;
      color: $light-gray;
    }
    h1 {
      font-size: $xl-font;
      font-weight: $weight-600;
      line-height: 100%;
    }
    p {
      font-family: "Inter";
      font-size: $sm-font;
      font-weight: 400;
      color: $gray-color;
    }
    .icon-holder {
      gap: 1.5rem;
      .text-icon {
        h4 {
          margin-top: 10px;
        }
      }
    }
  }
}
