.sponsored {
  width: 30%;
  margin: 0 auto 0 auto;

  &:hover {
    img {
      filter: blur(15px);
      transform: scale(0.9);
      opacity: 0.5;
      cursor: pointer;
    }
  }
  .icon-holder {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 70px;
  }
  img {
    transition: all 0.5s ease-in-out;
    &:hover {
      filter: blur(0px);
      transform: scale(1.1);
      opacity: 1;
    }
  }
  @media only screen and (max-width: 576px) {
    width: 70%;
    .icon-holder {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (hover: none) {
      &:hover {
        img {
          filter: inherit;
          transform: scale(0.9);
          opacity: 0.5;
          cursor: pointer;
        }
      }
    }
  }
}
