.triple {
  margin: 10rem auto 2rem 5rem;

  .hottest-sale-box {
    width: 440px;
    height: 800px;
    border: 1px solid $light-gray;
    border-radius: 10px;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: $lg-font;
      font-weight: $weight-600;
    }
    .box-holder {
      gap: 1rem;
      .normal-box {
        width: 215px;
        height: 500px;
        flex-direction: column;
        gap: 1rem;
        img {
          border-radius: 10px;
        }
        h5 {
          font-size: $sm-font;
          font-weight: $weight-600;
        }
        .icon-holder {
          justify-content: space-between;
          i {
            font-size: $md-font;
            color: $light-gray;
            line-height: 40px;
          }
          p {
            border-radius: 0.25rem;
            background: rgba(42, 39, 201, 0.1);
            padding: 0.475rem 0.625rem;
            align-items: center;
            font-size: $sm-font;
            font-weight: $weight-600;
            color: $blue-purple;
            gap: 0.625rem;
            text-align: center;
          }
        }
      }
    }
  }
}
