.triple {
  margin: 10rem auto 2rem 5rem;

  .hottest-sale-box {
    width: 440px;
    height: 800px;
    border: 1px solid $light-gray;
    border-radius: 10px;
    flex-direction: column;
    gap: 2rem;
    padding: 20px;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: $lg-font;
      font-weight: $weight-600;
    }
    .box-holder {
      gap: 1rem;
      .normal-box {
        width: 215px;
        height: 500px;
        flex-direction: column;
        gap: 1rem;
        img {
          border-radius: 10px;
        }
        h5 {
          font-size: $sm-font;
          font-weight: $weight-600;
        }
        .icon-holder {
          justify-content: space-between;
          i {
            font-size: $md-font;
            color: $light-gray;
            line-height: 40px;
          }
          p {
            border-radius: 0.25rem;
            background: rgba(42, 39, 201, 0.1);
            padding: 0.475rem 0.625rem;
            align-items: center;
            font-size: $sm-font;
            font-weight: $weight-600;
            color: $blue-purple;
            gap: 0.625rem;
            text-align: center;
          }
        }
        hr {
          background-color: $light-gray;
          height: 5px;
        }
        .heart-holder {
          justify-content: space-between;
          span {
            color: $light-gray;
            font-size: 0.9rem;
            font-weight: 400;
          }
          button {
            border: none;
            background-color: transparent;
          }
          i {
            font-size: $md-font;
            color: $gray-color;
            cursor: pointer;
            transition: all 0.4s linear;
          }
          .red-heart {
            i {
              color: red;
            }
          }
        }
      }
    }
    .show-more {
      width: 90%;
      margin-top: 2rem;
    }
    #second-box {
      opacity: 20%;
    }
  }
  .get-started-box {
    width: 440px;
    height: 840px;
    background-color: #1c1d29;
  }
}
